*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body{
  min-height: calc(100vh - 40px);
}


.btn1:hover{
  background-color: #5f5d5d;

  scale: 1.05;
  
  transition: 0.5s;
}

.body1{
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  min-height: calc(90vh - 40px);
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 15px;
  margin: 50px 50px 50px 50px;
  padding: 10px 10px 10px 10px;

  border-radius: 42px;
  background: #F6F5F5;
  box-shadow:  20px 20px 60px #bdbdbd,
              -20px -20px 60px #ffffff;
}

.grid1{
  padding: 10px 20px 10px 20px;
  margin: 10px 10px 10px 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form p{
  font-size: 14px;
}

form{
  width: 30vw;
}

.input-box {
  position: relative;
}

.svg-wrapper {
  position: absolute;
  right: 20px;
  top: 110%;
  transform: translateY(-50%);
}

.svg-wrapper svg {
  fill: #5f5d5d; /* Change the color of the SVG icon */
}

.align{
  margin-left: 50px;
}

.input-box{
  width: 80%;
  height: 20px;
  margin-bottom: 60px;
  margin-top: 10px;
  margin-left: 50px;
}

.input-box input{
  width: 100%;
  height: 20%;
  background: white;
  border: none;

  
  border-radius: 8px;
  font-size: 12px;
  padding: 20px 45px 20px 20px;
}

input:focus{
outline: #E19191 solid 1px;
}

div .btn1{
color: #f1f1f1;
width: 370px;
height: 40px;
border-radius: 8px;
border: none;
outline: none;
margin: 0px auto 35px  50px;

background-color: #E19191;
font-size: 14px;
font-weight: 600;
}

.grid2{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 24px;
}