*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body{
  min-height: calc(100vh - 40px);
  overflow: hidden;
}

.btn1:hover{
  background-color: #222222;

  scale: 1.05;

  transition: 0.5s;
}


.body1{
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  min-height: calc(90vh - 40px);
  height: 90vh;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 15px;
  margin: 50px 50px 50px 50px;
  padding: 10px 10px 10px 10px;

  border-radius: 24px;
  background: #F6F5F5;
  box-shadow:  20px 20px 60px #bdbdbd,
              -20px -20px 60px #ffffff;
}

form p{
  font-size: 14px;
}

.grid1{
grid-column: 1/2;
grid-row: 1/2;

background-image: url(img/maksim-larin-ezdrvzA1hZw-unsplash.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;

border-radius: 24px;
}

.grid2{
  grid-column: 2/3;
  grid-row: 1/2;

  padding: 10px 20px 10px 20px;
  margin: 10px 10px 10px 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form{

  width: 86%;

  padding: 10px 10px 10px 10px;
  margin: 0px 10px 10px 10px;
}

.align{
  margin-left: 10px;
}

.input-box{
  width: 90%;
  height: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
  margin-left: 10px;
}

.input-box input{
  width: 100%;
  height: 20%;
  background: white;
  border: none;
  
  border-radius: 8px;
  font-size: 12px;
  padding: 20px 45px 20px 20px;
}

input:focus{
  outline: #E19191 solid 1px;
}

div .btn1{
color: #f1f1f1;
width: 90%;
height: 40px;
background-color: #E19191;
border-radius: 8px;
border: none;
outline: none;
margin: 0px auto 15px  10px;

font-size: 14px;
font-weight: 500;
}

.grid2{

}