:root{
  --color-lightcoral: #E19191 !important;
  --color-slategray: #738290 !important;
  --color-babypowder: #FFFCF7 !important; 
  --text-babypowder: #FFFCF7 !important; 
  --color-dark: #222222 !important;
  --color-rufous: #B02E0C;
  }

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}


.active{
  color: var(--color-lightcoral);
  text-decoration: underline var(--color-lightcoral);
}

/* .animation:hover{
  box-shadow: inset 0 0 0 0 #4FC0D0;

  box-shadow: inset 150px 0 0 0 #4FC0D0;
  color: #f1f1f1;

  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
} */

  
  body{
    min-height: calc(100vh - 40px);
    width: 100vw;
    background-color: var(--color-babypowder);

    overflow-x: hidden;
  }
  

  /* main */





  /* body1 */

  .body1{
    min-height: calc(90vh - 40px);
    background-color:  var(--color-babypowder);

    margin-top: 0%;
    

    color: var(--color-dark);
  }

  .container{
    display: grid;


    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 0px;

    overflow: visible;

    padding: 10px 20px 10px 20px;
    margin: 20px 10px 20px 10px;

  }

  .container div{
    /* border: #E19191 solid 1px; */
  }

  .body1grid1{
    grid-column: 1/5;
    grid-row: 1/6;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 10px 20px 10px 20px;
    margin: 10px 10px 10px 10px;

    z-index: 1;


    span{
      color: var(--color-rufous);
    }

  }
  .body1grid2{
    grid-column: 4/9;
    grid-row: 1/6;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 26px 0px 0px 26px;

    padding: 10px 0px 10px 20px;
    margin: 20px 0px 20px 10px;

    background-color: var(--color-lightcoral);
  }


  /* infobody */



  .infobody{
    min-height: calc(100vh - 40px);
    background-color:  var(--color-babypowder);

    margin-top: 0%;
    

    color: var(--color-dark);
  }

  .infocontainer{
    display: grid;


    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 0px;

    overflow: visible;

    padding: 10px 20px 10px 20px;
    margin: 20px 10px 20px 10px;

  }

  .infocontainer div{
    /* border: #E19191 solid 1px; */
  }

  .infogrid1{
    grid-column: 1/5;
    grid-row: 1/6;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    border-radius: 0px 26px 26px 0px;

    padding: 10px 0px 10px 20px;
    margin: 20px 0px 20px 10px;

    /* background-color: var(--color-lightcoral); */

    background-image: url(./img/luis-felipe-lins-J2-wAQDckus-unsplash.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 1;

  }
  .infogrid2{
    grid-column: 5/9;
    grid-row: 1/6;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    border-radius: 26px 0px 0px 26px;

    padding: 10px 10px 10px 20px;
    margin: 20px 0px 20px 10px;

  

    h1{
      font-size: 36px;
      margin-bottom: 10px;
    }

    p{
      text-align: justify;
    }

    span{
      color: var(--color-rufous);
    }
  }


  /* infocontainer2 */

  .infocontainer2{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;

    
    padding: 10px 20px 10px 20px;
    margin: 20px 10px 20px 10px;

    div{
      border: #B02E0C solid  1px;
      border-radius: 16px;
      padding: 10px 10px 10px 10px;

      gap: 10px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p{
        font-size: 12px;
        text-align: justify;
      }
    }
  }

  .infowrapper1{
    grid-column: 1/4;
    grid-row: 1/3;

    svg{
      fill: var(--color-lightcoral);
    }
  } 
  
  .infowrapper2{
    grid-column: 4/7;
    grid-row: 1/3;

    svg{
      fill: var(--color-lightcoral);
    }
  }  
  
  .infowrapper3{
    grid-column: 7/10;
    grid-row: 1/3;

    svg{
      fill: var(--color-lightcoral);
    }
  }  
  
  .infowrapper4{
    grid-column: 10/13;
    grid-row: 1/3;

    svg{
      fill: var(--color-lightcoral);
    }
  }



  /* filler */

  .filler{
    margin: 20px 0px 50px 0px;
  }
  .containerfiller{
    position: relative;
  }
  
  .containerfiller .wrapper{
    width: 100vw;
    height: 80vh;
    box-shadow: 10px 10x 20px rgba(0,0,0,0,6);
    margin: 0px 0px 0px 0px;
  
    overflow: hidden;
  }
  
  .containerfiller .wrapper-holder{
    display: grid;
  
    grid-template-columns: repeat(4,100%);
    height: 80vh;
    width: 100vw;
  
    animation: slider 30s ease-in-out infinite alternate;
  }
  
  .containerfiller #slider-img-1{
    background-image: url(https://www.bloommaterials.com/wp-content/uploads/2020/03/BLOOM-BRAND-copy_Adidas.png);
  
  
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
  }
  
  .containerfiller #slider-img-2{
    background-image: url(https://www.office.co.uk/blog/wp-content/uploads/2023/02/NB2002R-BlogBanner_1-1.jpg);
  
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
  }
  
  .containerfiller #slider-img-3{
    background-image: url(https://images.unsplash.com/photo-1608541737042-87a12275d313?q=80&w=2061&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
  }
  
  .containerfiller #slider-img-4{
    background-image: url(https://ir.ebaystatic.com/cr/v/c01/agweb/090823/media/meta/meta-sneakers-v2.jpg);
  
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
  }
  
  .containerfiller .button-holder .button{
    background-color: var(--color-babypowder);
    width: 15px;
    height: 15px;
    border-radius: 16px;
    display: inline-block;
    margin: .3rem;
  }
  
  .containerfiller .button-holder{
    position: absolute;
    left: 45%;
    bottom:0% ;
  }
  
  .button:hover{
    box-shadow: 0 0 7px 4px rgb(217, 6, 6);
  }
  
  @keyframes slider{
    0%{transform: translate(0%);}
    10%{transform: translate(-100%);}
    20%{transform: translate(-100%);}
    30%{transform: translate(-200%);}
    40%{transform: translate(-200%);}
    50%{transform: translate(-200%);}
    60%{transform: translate(-300%);}
    70%{transform: translate(-300%);}
    80%{transform: translate(-300%);}
    90%{transform: translate(0%);}
    100%{transform: translate(0%);}
  }

  /* brands */
  .brands{
    min-height: calc(40vh - 40px);

    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
  }

  .flexbrand{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


  }
  
  /* body2 */
  .body2{
    min-height: calc(450vh - 40px);
    background-color: var(--color-babypowder);

  }

  .container1{
    display: grid;
    margin: 20px auto 0 auto;
    max-width: 1200px;

    grid-template-columns: repeat(16, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 30px;
  }
  
  .container1 div{
    /* border: #7d05c2 solid 1px;
    border-radius: 10px;  */
  }
  
  .imagesize{
    width: 250px;
    height: 200px;
  
    border-radius: 16px;
  
    margin: 0px auto 5px auto;
  
    background-image: url(img/maksim-larin-NOpsC3nWTzY-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .imagesize2{
    width: 1100px;
    height: 450px;
    
    border-radius: 16px;
  
    margin: 30px auto 5px auto;

    background-image: url(img/luis-felipe-lins-J2-wAQDckus-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .text{
  /* margin: 0 60px 5px auto; */
  width: auto;

  h3{
    font-size: 18px;
  }

  p{
    font-size: 16px;
  }

  .price{
    color: var(--color-rufous);
    font-weight: bold;
  }
  }
  
  .text2{
    margin: 0 0 80px 50px;

    width: 1100px;
  }
  
  button{
    color: var(--text-babypowder);
  width: 100px;
  height: 30px;
  background-color: #E19191;
  border-radius: 6px;
  border: none;
  outline: none;
  margin: 10px auto auto 0px;
  }

  button:hover{
    scale: 1.05;
    background-color: var(--color-rufous);
    transition: 0.3s;
  }
  
  .grid1{
    grid-column: 1/5;
    grid-row: 1/4;

    cursor: pointer;

    padding: 10px 10px 10px 10px;
  
    border-radius: 16px;
    background-color: var(--color-dark);
    color: var(--text-babypowder);
  
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: left;

      z-index: 1;
  }
  
  .grid2{
    grid-column: 5/9;
    grid-row: 1/4;

    cursor: pointer;

    padding: 10px 10px 10px 10px;
  
    border-radius: 16px;
    background-color: var(--color-dark);
    color: var(--text-babypowder);
  
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: left;

      z-index: 1;
  }
  
  .grid3{
    grid-column: 9/13;
    grid-row: 1/4;

    cursor: pointer;

    padding: 10px 10px 10px 10px;
  
    border-radius: 16px;
    background-color: var(--color-dark);
    color: var(--text-babypowder);
  
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: left;

      z-index: 1;
  }
  
  .grid4{
    grid-column: 13/17;
    grid-row: 1/4;

    cursor: pointer;

    padding: 10px 10px 10px 10px;
  
    border-radius: 16px;
    background-color: var(--color-dark);
    color: var(--text-babypowder);
  
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-align: left;

      z-index: 1;
  }
  
  .grid5{
    grid-column: 1/17;
    grid-row: 5/9;

    border-radius: 16px;
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;

    background: var(--color-babypowder);
    box-shadow:  -20px 20px 60px #c6c6c6,
              20px -20px 60px #ffffff;
  }
  
  .grid6{
    grid-column: 1/17;
    grid-row: 10/14;

    border-radius: 16px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;

    background: var(--color-babypowder);
box-shadow:  -20px 20px 60px #c6c6c6,
              20px -20px 60px #ffffff;

              /* z-index: 1; */
  }

  .grid7{
    grid-column: 1/17;
    grid-row: 15/18;

    border-radius: 16px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;

    background: var(--color-babypowder);
    box-shadow:  -20px 20px 60px #c6c6c6,
              20px -20px 60px #ffffff;

              z-index: 1;
  }

  /* comments */
  .comments{
    min-height: calc(40vh - 40px);
    background-color:  #738290;

    padding: 10px 10px 10px 10px;
    margin: 10px 0px 20px 0px;
    color: #FFFCF7;
  }

  .customercontainer{
    display: grid;

    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;

    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;

  }

  /* .customercontainer div{
    border: #f1f1f1 solid 1px;
  } */

  .customergrid1{
    grid-column: 1/3;
    grid-row: 1/3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    
  }
  .customergrid2{
    grid-column: 3/5;
    grid-row: 1/3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
  
   
  }
  .customergrid3{
    grid-column: 5/7;
    grid-row: 1/3;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
  }



  /* suggestion */

  .suggestionbody{
    min-height: calc(90vh - 40px);
    width: 90%;

    margin-inline: auto;

  }

  .suggestion{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;

    margin: 10px 0px 20px 0px;

    div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .suggestiongrid1{
    grid-column: 1/4;
    grid-row: 2/5;

    color: var(--text-babypowder);

    border-radius: 16px;

    background-color: var(--color-lightcoral);
  }

  .suggestiongrid2{
    grid-column: 4/7;
    grid-row: 2/5;

    color: var(--text-babypowder);

    border-radius: 16px;

    background-color: var(--color-lightcoral);


    .suggestion{
      width: 400px;
      margin: 0%;

      border-radius: 8px;
    }

    .suggestionbutton{
      margin: 20px 0px 0px 0px;
      color: var(--color-babypowder);
      background-color: var(--color-dark);

    }
  }


/* footer */

/* footer{
  height: 40vh;
  width: 100vw;
  background-color: #1C1919;

}

footer, .footergrid, li{
  color: #e3e3e3;
}

ul li{
  padding: 5px 5px 5px 5px;

}
.footergrid{
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
}

.footgrid1{
  grid-column: 1/4;
  grid-row: 1/3;

  border: #e3e3e3 1px solid;


  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.footgrid2{
  grid-column: 4/5;
  grid-row: 1/3;

  border: #e3e3e3 1px solid;

  display: flex;
  flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 10%;

    ul{
      list-style: none !important;
    }

}
.footgrid3{
  grid-column: 5/6;
  grid-row: 1/3;

  border: #e3e3e3 1px solid;

  display: flex;
  flex-direction: column;
    justify-content: flex-start
    align-items: flex-start;
    padding: 30px 10%;

    ul{
      list-style: none !important;
    }
}

.footgrid4{
  grid-column: 6/7;
  grid-row: 1/3;

  border: #e3e3e3 1px solid;

  display: flex;
  flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 10%;

    ul{
      list-style: none !important;
    }
} */
